@mixin container-mobile {
  width: 260px;
  margin: 0 auto;
}

@mixin container-tablet {
  width: 668px;
  margin: 0 auto;
}

@mixin container-desktop {
  width: 1150px;
  margin: 0 auto;
  padding: 0 50px;
}

@mixin container-desktop--inner-page {
  width: 1050px;
  margin: 0 auto;
  padding: 0;
}
