$font: "Open Sans", "Arial", sans-serif;
$font-size: 17px;
$line-height: 24px;

$color-puerto-rico: #46c1ae;
$bg-base: #ffffff;

$tablet-screen: 768px;
$desktop-screen: 1050px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$burger-menu: linear-gradient(to bottom, #444444 0, #444444 2px, transparent 2px, transparent 6px, #444444 6px, #444444 8px, transparent 8px, transparent 12px, #444444 12px, #444444 14px);

// $burger-menu-hover: linear-gradient(to bottom, $color-pink, $color-pink 4px, transparent 4px, transparent 10px, $color-pink 10px, $color-pink 14px, transparent 14px, transparent 20px, $color-pink 20px);


