.arrows-wrap {
  display: flex;
  width: 100%;
}

.arrow {
  position: relative;

  width: 130px;
  height: 52px;
  padding: 0;

  background-color: transparent;
  border: 1px solid #ececec;

  cursor: pointer;

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 50px;
    height: 26px;
    margin-top: -13px;
    margin-left: -25px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &--left::after {
    background-image: url('../img/icons/sprite/sprite.svg#arrow-left');
  }

  &--right::after {
    background-image: url('../img/icons/sprite/sprite.svg#arrow-right');
  }

  &:hover::after {
    opacity: 0.6;
  }

  &:active::after {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-screen) {
  .arrows-wrap {
    width: 167px;
  }

  .arrow {
    border: none;
  }
}

@media (min-width: $desktop-screen) {
  .arrows-wrap {
    width: 175px;
  }
}
