.bestseller {
  position: relative;

  min-height: 826px;
  padding-top: 28px;

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 6px;

    background-image: url('../../img/zig-zag-gray.svg');
    background-repeat: repeat-x;
    background-position: 0 bottom;
    background-size: contain;
  }
}

.bestseller__wrapper {
  @include container-mobile;

  position: relative;

  display: flex;
  flex-direction: column;
}

.bestseller__title {
  margin-bottom: 4px;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
}

.bestseller__info-plate {
  display: block;
  margin-bottom: 24px;

  line-height: 20px;
  color: $color-downy;
  text-transform: uppercase;
  text-align: left;
}

.bestseller__content-wrap {
  display: block;
}

.bestseller__description {
  margin-bottom: 17px;

  font-size: 15px;
  color: #444444;
}

.bestseller__table {
  margin-bottom: 28px;
}

.bestseller__price-wrap {
  order: 4;
}

.bestseller__price {
  display: block;
  margin-bottom: 26px;

  color: #444444;
  text-align: center;
}

.bestseller__img-wrap {
  order: 3;
}

.bestseller__img {
  display: block;
  margin-bottom: 24px;

  width: 260px;
  height: 315px;
}

@media (min-width: $tablet-screen) {
  .bestseller {
    min-height: 613px;
    padding-top: 34px;

    &::after {
      height: 17px;
    }
  }

  .bestseller__wrapper {
    @include container-tablet;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .bestseller__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 48px;
  }

  .bestseller__title {
    width: 500px;

    font-size: 43px;
    line-height: 50px;
  }

  .bestseller__info-plate {
    width: 126px;
    margin-bottom: 0;

    line-height: 17px;
    text-align: center;
  }

  .bestseller__content-wrap {
    width: 290px;
  }

  .bestseller__description {
    margin-bottom: 36px;

    font-size: 17px;
    line-height: 30px;
  }

  .bestseller__table {
    margin-bottom: 56px;
  }

  .bestseller__price-wrap {
    width: 290px;
    margin-top: -110px;
  }

  .bestseller__price {
    display: block;
    margin-bottom: 34px;

    font-size: 20px;
  }

  .bestseller__img-wrap {
    width: 334px;
    padding-top: 8px;
  }

  .bestseller__img {
    margin-bottom: 0;

    width: 333px;
    height: 404px;
  }
}
