.button {
  display: block;
  padding: 12px 0;

  color: #444444;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  border: 2px solid #444444;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(#ffffff, 0.3)

  }
}

