.catalog {
  @include container-mobile;
  padding: 30px 0;
}

.catalog__cards-item {
  margin-top: 30px;

  &:first-child {
    padding-top: 0;
  }
}

.catalog__img-link {
  display: block;
  height: 195px;
}

.catalog__img {
  width: 260px;
  height: 195px;
}

.catalog__card-info-wrap {
  padding: 28px;

  border: 1px solid #ececec;
}

.catalog__title {
  margin-bottom: 6px;
}

.catalog__title-link {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: rgba(#000000, 0.6)
  }

  &:active {
    color: rgba(#000000, 0.3)
  }
}

.catalog__description {
  margin-bottom: 18px;

  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.catalog__price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;

  border-top: 1px solid #ececec;
}

.catalog__price {
  display: block;

  font-size: 15px;
  font-weight: bold;
}

.catalog__icon {
  width: 21px;
  height: 18px;

  opacity: 0.2;

  &:hover {
    fill: $color-downy;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-screen) {
  .catalog {
    @include container-tablet;
    padding: 67px 0 53px 0;
  }

  .catalog__cards-item {
    display: flex;
    margin-top: 54px;

    &:hover {
      box-shadow: 0 6px 10px rgba(#000000, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(#000000, 0.1);
    }
  }

  .catalog__img-link {
    height: 334px;
  }

  .catalog__img {
    width: 334px;
    height: 334px;
  }

  .catalog__card-info-wrap {
    display: flex;
    flex-direction: column;
    width: 334px;
    padding: 24px 32px 26px 28px;
  }

  .catalog__title-link {
    font-size: 20px;
  }

  .catalog__description {
    margin-bottom: auto;

    font-size: 15px;
  }

  .catalog__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-screen) {
  .catalog {
    @include container-desktop--inner-page;
    padding: 112px 0 57px 0;
  }

  .catalog__cards {
    display: flex;
    justify-content: space-between;

  }

  .catalog__cards-item {
    display: flex;
    flex-direction: column;
    width: 316px;
    margin-top: 0;
  }

  .catalog__img-link {
    height: 462px;
  }

  .catalog__img {
    width: 316px;
    height: 462px;
  }

  .catalog__card-info-wrap {
    flex-grow: 1;
    width: 316px;
    padding: 21px 31px 27px 28px;
  }
}
