.contacts {
  min-height: 895px;
  padding-top: 35px;
}

.contacts__title {
  @include container-mobile;

  margin-bottom: 26px;

  font-size: 18px;
  line-height: 30px;
}

.contacts__info-wrap {
  @include container-mobile;

  margin-bottom: 37px;
}

.contacts__email {
  margin-bottom: 30px;

  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__email-link {
  margin-left: 30px;
  padding-bottom: 4px;

  color: #444444;
  text-decoration: none;

  border-bottom: 1px solid $color-downy;

  &:hover {
    color: $color-downy;
  }

  &:active {
    color: rgba($color-downy, 0.3);
    border-bottom-color: rgba($color-downy, 0.3);
  }
}

.contacts__address {
  display: flex;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__address-text {
  max-width: 142px;
  margin-left: 30px;
}

.contacts__map-position {
  margin-bottom: 39px;
}

.contacts__button {
  width: 260px;
  margin: 0 auto;
}

@media (min-width: $tablet-screen) {
  .contacts {
    min-height: 927px;
    padding-top: 62px;
  }

  .contacts__title {
    @include container-tablet;

    position: relative;

    margin-bottom: 48px;

    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";

      position: absolute;
      top: -16px;
      right: 3px;

      width: 47px;
      height: 80px;

      background: url('../img/icons/sprite/sprite.svg#flag');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .contacts__info-wrap {
    @include container-tablet;

    display: flex;
    margin-bottom: 56px;
  }

  .contacts__email,
  .contacts__address {
    width: 50%;
    font-size: 17px;
  }

  .contacts__email-link {
    margin-left: 24px;
  }

  .contacts__address-text {
    max-width: 222px;
    margin-left: 24px;
  }

  .contacts__map-position {
    margin-bottom: 55px;
  }

  .contacts__button {
    width: 230px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-screen) {
  .contacts {
    min-height: 633px;
    padding-top: 143px;
  }

  .contacts__wrapper {
    @include container-desktop;

    display: flex;
    flex-wrap: wrap;
  }

  .contacts__title {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 46px;
    padding-left: 175px;

    font-size: 53px;
    line-height: 57px;

    &::after {
      top: -10px;
      right: auto;
      left: 63px;
    }
  }

  .contacts__info-wrap {
    width: 525px;

    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 175px;
  }

  .contacts__email,
  .contacts__address {
    width: 100%;
  }

  .contacts__email {
    margin-bottom: 30px;
  }

  .contacts__email-link {
    margin-left: 32px;
  }

  .contacts__address-text {
    margin-left: 32px;
  }

  .contacts__map-position {
    position: relative;
    top: -175px;
    margin-bottom: 0;
  }

  .contacts__button-wrap {
    width: 50%;
    margin-top: -227px;
  }

  .contacts__button {
    margin: 0;
    margin-left: 175px;
  }
}
