.features {
  @include container-mobile;

  padding: 28px 0 56px 0;
}

.features__title {
  font-size: 25px;
  line-height: 30px;
  text-align: left;
}

.features__item {
  position: relative;

  padding-top: 83px;

  line-height: 20px;
  font-weight: bold;

  &::before {
    content: "";

    position: absolute;
    top: 31px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &--flower::before {
    left: 8px;

    width: 32px;
    height: 37px;

    background-image: url('../img/icons/sprite/sprite.svg#icon-feature-flower');
  }

  &--money::before {
    left: 0;

    width: 47px;
    height: 27px;

    background-image: url('../img/icons/sprite/sprite.svg#icon-feature-money');
  }

  &--heart::before {
    top: 35px;
    left: 7px;

    width: 34px;
    height: 27px;

    background-image: url('../img/icons/sprite/sprite.svg#icon-feature-heart');
  }

  &--skein::before {
    top: 32px;
    left: 3px;

    width: 35px;
    height: 34px;

    background-image: url('../img/icons/sprite/sprite.svg#icon-feature-skein');
  }

  &--rocket::before {
    top: 33px;
    left: -6px;

    width: 55px;
    height: 23px;

    background-image: url('../img/icons/sprite/sprite.svg#icon-feature-rocket');
  }

  &--gift::before {
    left: 3px;

    width: 33px;
    height: 32px;

    background-image: url('../img/icons/sprite/sprite.svg#icon-feature-gift');
  }
}

@media (min-width: $tablet-screen) {
  .features {
    @include container-tablet;

    padding: 50px 0 83px 0;
  }

  .features__title {
    font-size: 43px;
    line-height: 50px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    width: 50%;
    padding-top: 111px;

    font-size: 20px;
    line-height: 22px;

    &:nth-child(-n + 2) {
      padding-top: 102px;
    }

    &--money {
      order: 3;
    }

    &--heart {
      order: 5;
    }

    &--skein{
      order: 2;
    }

    &--rocket {
      order: 4;
    }

    &--gift {
      order: 6;
    }

    &::before {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &--flower::before {
      top: 47px;
    }

    &--money::before {
      top: 58px;
      left: 1px;
    }

    &--heart::before {
      top: 63px;
      left: 8px;
    }

    &--skein::before {
      top: 51px;
    }

    &--rocket::before {
      top: 61px;
    }

    &--gift::before {
      top: 59px;
    }
  }
}

@media (min-width: $desktop-screen) {
  .features {
    @include container-desktop;

    padding: 61px 0 91px 0;
  }

  .features__title {
    width: 700px;
    margin: 0 auto;

    font-size: 53px;
    line-height: 57px;
  }

  .features__list {
    width: 700px;
    margin: 0 auto;
  }

  .features__item {
    width: 350px;

    &:nth-child(-n + 2) {
      padding-top: 101px;
    }

    &::before {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}
