.footer-logo {
  display: none;
}

@media (min-width: $tablet-screen) {
  .footer-logo {
    display: block;
    width: 167px;
  }

  .footer-logo__icon {
    width: 102px;
    height: 34px;

    &:hover {
      fill: $color-downy;
    }

    &:active {
      fill: rgba($color-downy, 0.3);
    }
  }
}
