.form {
  padding: 22px 0 55px 0;
}

.form-container {
  @include container-mobile;
}

.form__info {
  font-size: 13px;
  color: #444444;
}

.form__title {
  width: 62px;

  line-height: 16px;
  color: $color-downy;
  font-weight: bold;
  text-transform: uppercase;
}

.form__label {
  line-height: 18px;
  font-weight: bold;
}

.form__input {
  width: 100%;
  padding: 16px 0;

  line-height: 18px;
  color: #444444;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;

  &::placeholder {
    color: rgba(#444444, 0.3);
  }
}



/********  Radio inputs section *********/


.form__order-type {
  margin-top: 24px;
  margin-bottom: 44px;
  padding: 0;
  padding-top: 34px;
}

.order-type {
  border: none;
  border-top: 1px solid $color-downy;
}

.order-type__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}


.order-type__input {
  position: relative;

  + .order-type__label {
    position: relative;

    width: 100%;
    padding-left: 62px;

    cursor: pointer;

    &::before {
      content: '';

      position: absolute;
      top: -10px;
      left: 0;

      width: 40px;
      height: 40px;

      border: 3px solid #444444;
      border-radius: 50%;
    }
  }
}

.order-type__input:checked {
  position: relative;

  + .order-type__label {

    &::after {
      content: '';

      position: absolute;
      top: 2px;
      left: 12px;

      width: 16px;
      height: 16px;

      background-color: $color-downy;
      border-radius: 50%;
    }
  }
}


/******** Checkbox inputs section ********/


.form__color-type {
  margin-bottom: 42px;
  padding: 0;
  padding-top: 36px;
}

.color-type {
  border: none;
  border-top: 1px solid $color-downy;
}

.color-type__item {
  margin-bottom: 43px;

  &:last-child {
    margin-bottom: 0;
  }
}

.color-type__input {
  position: relative;

  + .color-type__label {
    position: relative;

    padding-left: 64px;

    cursor: pointer;

    &::before {
      content: '';

      position: absolute;
      top: -6px;
      left: 0;

      width: 40px;
      height: 39px;

      border: 2px solid #444444;
    }
  }
}

.color-type__input:checked {
  position: relative;

  + .color-type__label {

    &::after {
      content: '';

      position: absolute;
      top: 6px;
      left: 9px;

      width: 22px;
      height: 10px;

      border-left: 2px solid #000000;
      border-bottom: 2px solid #000000;

      transform: rotate(-45deg);
    }
  }
}


/******** Full name section ********/


.form__full-name {
  margin-bottom: 32px;
  padding: 0;
  padding-top: 29px;
}

.full-name {
  border: none;
  border-top: 1px solid $color-downy;
}

.full-name__label {
  display: block;
}

.full-name__input {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}


/******** Tel section ********/


.form__contact-tel {
  margin-bottom: 32px;
  padding: 0;
  padding-top: 7px;
}

.contact-tel {
  border: none;
  border-top: 1px solid $color-downy;
}

.contact-tel__input-wrap {
  position: relative;
}

.contact-tel__input {
  padding-right: 35px;
}

.contact-tel__icon {
  content: '';

  position: absolute;
  top: 11px;
  right: 8px;

  width: 25px;
  height: 24px;

  opacity: 0.2;
}

/******** Email section ********/


.form__contact-email {
  margin-bottom: 32px;
  padding: 0;
  padding-top: 7px;
}

.contact-email {
  border: none;
  border-top: 1px solid $color-downy;
}

.contact-email__title {
  width: 81px;
}

.contact-email__input-wrap {
  position: relative;
}

.contact-email__input {
  padding-right: 40px;
}

.contact-email__icon {
  content: '';

  position: absolute;
  top: 16px;
  right: 3px;

  width: 32px;
  height: 21px;

  opacity: 0.2;
}


/******** Message section ********/


.form__message {
  margin-bottom: 16px;
  padding: 0;
  padding-top: 25px;
}

.message {
  border: none;
  border-top: 1px solid $color-downy;
}

.form__message__input {
  height: 142px;
  padding: 16px;

  border: 2px solid #000000;

  resize: none;
}


/******** Button and notice section ********/


.form__button-wrap {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

.form__button {
  width: 260px;

  background-color: transparent;

  cursor: pointer;
}

.form__notice {
  margin-bottom: 31px;

  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

@media (min-width: $tablet-screen) {
  .form {
    padding: 60px 0 50px 0;
  }

  .form-container {
    @include container-tablet;
  }

  .form__info {
    padding-right: 50px;

    font-size: 17px;
    line-height: 30px;
  }

  .form__title {
    position: absolute;
    top: 0;
    left: 0;

    width: 167px;
  }

  .form__input {
    font-size: 19px;

    &:hover {
      border-color: $color-downy;
    }

    &:focus {
      border-color: $color-downy;
    }
  }


  /********  Radio inputs section *********/


  .form__order-type {
    margin-top: 72px;
    margin-bottom: 68px;
    padding: 0;
  }

  .order-type {
    position: relative;

    border: none;
  }

  .order-type__list {
    width: 501px;
    margin-left: auto;
  }

  .order-type__item {
    margin-bottom: 57px;
  }

  .order-type__input {

    + .order-type__label {
      padding-left: 81px;

      &::before {
        top: -15px;
        left: 0;

        width: 52px;
        height: 52px;
      }

      &:hover::before {
        border-color: $color-downy;
      }

      &:active::before {
        border-color: rgba(#444444, 0.3);
      }
    }
  }

  .order-type__input:checked {

    + .order-type__label {

      &::after {
        top: 0;
        left: 15px;

        width: 22px;
        height: 22px;
      }
    }
  }


  /******** Checkbox inputs section ********/


  .form__color-type__wrapper {
    background-color: #f1f1f1;
  }

  .form__color-type {
    padding-bottom: 68px;
    padding-top: 49px;
  }

  .color-type {
    position: relative;

    border: none;
  }

  .color-type__title {
    top: 49px;
  }

  .color-type__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 501px;
    margin-left: auto;
  }

  .color-type__item {
    width: 239px;
    margin-bottom: 57px;

    &:nth-child(n + 5) {
      margin-bottom: 0;
    }
  }

  .color-type__input {

    + .color-type__label {
      padding-left: 82px;

      &::before {
        top: -13px;
        left: 0;

        width: 54px;
        height: 52px;
      }

      &:hover::before {
        border-color: $color-downy;
      }

      &:active::before {
        border-color: rgba(#444444, 0.3);
      }
    }
  }

  .color-type__input:checked {

    + .color-type__label {

      &::after {
        top: 3px;
        left: 14px;

        width: 30px;
        height: 14px;
      }
    }
  }


  /******** Full name section ********/


  .form__full-name {
    margin-top: 49px;
    margin-bottom: 50px;
    padding: 0;
  }

  .full-name {
    position: relative;

    border: none;
  }

  .full-name__title {
    top: 16px;
  }

  .full-name__label {
    padding: 16px 0;
  }

  .full-name__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 501px;
    margin-left: auto;
  }

  .full-name__label {
    width: 123px;

    &:first-child {
      width: 73px;
    }
  }

  .full-name__input {
    width: 428px;
    margin-bottom: 23px;

    &:nth-of-type(2) {
      width: 375px;
    }

    &:last-child {
      width: 375px;
      margin-bottom: 0;
    }
  }


  /******** Tel section ********/


  .form-contacts__wrapper {
    background-color: #f1f1f1;
  }

  .form__contact-tel {
    margin-bottom: 23px;
    padding-top: 49px;
  }

  .contact-tel {
    position: relative;

    border: none;
  }

  .contact-tel__title {
    top: 65px;
  }

  .contact-tel__input-wrap {
    position: relative;

    width: 501px;
    margin-left: auto;

    &:hover .contact-tel__icon {
      fill: $color-downy;
      opacity: 1;
    }
  }

  .contact-tel__input {
    padding-right: 55px;
  }

  .contact-tel__icon {
    top: 12px;
    right: 26px;
  }

  /******** Email section ********/


  .form__contact-email {
    padding: 0;
    padding-bottom: 50px;
  }

  .contact-email {
    position: relative;

    border: none;
  }

  .contact-email__title {
    top: 16px;

    width: 167px;
  }

  .contact-email__input-wrap {
    position: relative;

    width: 501px;
    margin-left: auto;

    &:hover .contact-email__icon {
      fill: $color-downy;
      opacity: 1;
    }
  }

  .contact-email__input {
    padding-right: 60px;
  }

  .contact-email__icon {
    top: 17px;
    right: 22px;
  }


  /******** Message section ********/


  .form__message {
    margin-top: 53px;
    margin-bottom: 50px;
    padding: 0;
  }

  .message {
    position: relative;

    border: none;
  }

  .form__message__input {
    display: block;
    width: 501px;
    margin-left: auto;
  }


  /******** Button and notice section ********/


  .form__button-wrap {
    flex-direction: row;
  }

  .form__button {
    width: 230px;
  }

  .form__notice {
    margin-bottom: 0;

    font-size: 17px;
    line-height: 30px;
  }
}
