.main-submenu {
  display: none;
}

@media (min-width: $desktop-screen) {
  .main-submenu {
    position: absolute;
    bottom: -59px;
    left: 0;
    z-index: 5;

    order: 4;
    display: flex;
    width: 350px;
  }

  .main-submenu__item {

    &:first-child {
      margin-right: 61px;
    }
  }

  .main-submenu__link {
    display: block;
    padding: 17px 0;

    font-size: 15px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: rgba(#000000, 0.6);
    }

    &:active {
      color: rgba(#000000, 0.3);
    }
  }
}
