.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(#ffffff, 0.9);

  &--active {
    display: block;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;

  width: 320px;
  height: 337px;
  display: none;
  margin-top: -168px;
  margin-left: -160px;
  padding: 30px 30px 46px 30px;

  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(#000101, 0.25);

  &--active {
    display: block;
  }
}

.modal__title {
  max-width: 150px;
  margin: 0 auto;
  margin-bottom: 12px;

  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}

.modal__description {
  margin-bottom: 22px;

  font-size: 15px;
  height: 30px;
  color: #444444;
  text-align: center;
}

.size-select {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 31px;
}

.size__item {
  width: 82px;
  text-align: center;
}

.size__link {
  display: block;
  padding: 16px 0;

  line-height: 16px;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;

  border: 2px solid rgba(#444444, 0.1);

  &:hover {
    border-color: rgba(#444444, 0.3);
  }

  &--active {
    border-color: $color-downy;
  }

  &--active:hover {
    border-color: $color-downy;
  }
}

.modal__add-button {
  width: 260px;
  padding: 18px 0;

  line-height: 16px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  background-color: $color-downy;
  border: none;

  cursor: pointer;

  &:hover {
    background-color: #46c1ae;
  }

  &:active {
    background-color: rgba(#46c1ae, 0.3);
  }
}

@media (min-width: $tablet-screen) {
  .modal {
    width: 568px;
    margin-left: -284px;
    padding: 33px 0 46px 0;
  }

  .modal__title {
    max-width: 354px;
    margin-bottom: 14px;

    font-size: 30px;
    line-height: 57px;
  }

  .modal__description {
    margin-bottom: 21px;

    font-size: 17px;
  }

  .size-select {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 31px;
  }

  .size__item {
    width: 112px;
  }

  .modal__add-button-wrap {
    width: 100%;
    text-align: center;
  }

  .modal__add-button {
    width: 350px;
  }
}
