.page-footer {
  @include container-mobile;

  padding: 25px 0 23px 0;
}

@media (min-width: $tablet-screen) {
  .page-footer {
    @include container-tablet;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 51px 0;
  }
}
