.promo {
  width: 100%;
  height: 488px;
  padding-top: 70px;

  background-color: #f9f9f9;

  background-image: url('../../img/content/hero-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}

.promo__delivery {
  display: none;
}

.page-title {
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 121px;

  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

.promo-buttons__link {
  position: relative;

  display: block;
  width: 320px;
  margin: 0 auto;
  padding: 25px 30px 30px 30px;

  font-size: 19px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;

  &::after {
    content: '';

    position: absolute;
    top: 30px;
    right: 36px;
  }

  &--interior {
    background-color: $color-downy;
  }

  &--interior::after {
    top: 23px;
    right: 36px;

    width: 40px;
    height: 62px;

    background-image: url('../../img/icons/sprite/sprite.svg#icon-lamp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &--toys {
    background-color: #56c3b2;
  }

  &--toys::after {
    top: 27px;
    right: 21px;

    width: 60px;
    height: 60px;

    background-image: url('../../img/icons/sprite/sprite.svg#icon-toy-block');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}








@media (min-width: $tablet-screen) {
  .promo__br {
    display: none;
  }
}
