.reviews {
  position: relative;

  min-height: 629px;

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 6px;

    background-image: url('../img/zig-zag-gray.svg');
    background-repeat: repeat-x;
    background-position: 0 bottom;
    background-size: contain;
  }
}

.reviews__wrapper {
  @include container-mobile;
}

.reviews__title {
  margin-bottom: 24px;

  font-size: 25px;
  line-height: 30px;
}

.review__text {
  margin-bottom: 24px;

  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.review__author {
  display: block;
  margin-bottom: 5px;

  font-weight: bold;
}

.review__nickname {
  display: block;
  margin-bottom: 28px;

  line-height: 30px;
  color: #444444;
}

.reviews__arrows-position {
  margin-bottom: 38px;
}

@media (min-width: $tablet-screen) {
  .reviews {
    min-height: 543px;
    padding-top: 78px;

    &::after {
      height: 17px;
    }
  }

  .webp .reviews__wrapper::before {
    background-image: url("../img/content/review@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/content/review@2x.webp");
    }
  }

  .no-webp .reviews__wrapper::before {
    background-image: url("../img/content/review@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/content/review@2x.jpg");
    }
  }

  .reviews__wrapper {
    @include container-tablet;

    position: relative;

    display: flex;
    flex-wrap: wrap;

    &::before {
      content: "";

      position: absolute;
      top: -78px;
      left: -50px;
      z-index: -1;

      width: 350px;
      height: 457px;

      background-repeat: no-repeat;
      background-position: 0 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-size: 350px auto;
      }
    }
  }

  .reviews__title {
    width: 50%;
    margin-bottom: 49px;

    font-size: 43px;
    line-height: 50px;
  }

  .review__text {
    order: 3;

    width: 100%;
    margin-bottom: 58px;

    font-size: 17px;
  }

  .review__nickname-wrap {
    order: 4;

    width: 50%;
  }

  .review__author {
    margin-bottom: 4px;

    font-size: 18px;
  }

  .review__nickname {
    margin-bottom: 0;
  }

  .reviews__arrows-position {
    order: 5;

    margin-bottom: 0;
    margin-left: auto;
  }

  .reviews-button {
    order: 2;

    width: 175px;
    margin-bottom: 49px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-screen) {
  .reviews {
    min-height: 547px;
    padding-top: 71px;

    &::after {
      height: 23px;
    }
  }

  .reviews__wrapper {
    @include container-desktop;

    padding-left: 175px;

    &::before {
      content: "";

      position: absolute;
      top: -71px;
      left: 0;
    }
  }

  .reviews__title {
    margin-bottom: 48px;

    font-size: 53px;
    line-height: 57px;
  }

  .review__text {
    margin-bottom: 39px;
  }

  .review__author {
    font-size: 17px;
  }

  .reviews-button {
    height: 52px;
    margin-top: 8px;
    margin-bottom: 48px;
  }
}
