.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 11px;
  padding-bottom: 27px;

  border-bottom: 1px solid #ececec;
}

.socials__item {
  margin-right: 42px;

  &:last-child{
    margin-right: 7px;
  }
}

.socials__link {
  display: block;
}

.footer-logo__icon {

  &--insta {
    width: 22px;
    height: 21px;
  }

  &--fb {
    width: 15px;
    height: 28px;
  }

  &--tw {
    width: 23px;
    height: 20px;
  }

  &:hover {
    fill: $color-downy;
  }

  &:active {
    fill: rgba($color-downy, 0.3);
  }
}

@media (min-width: $tablet-screen) {
  .socials {
    width: 145px;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 0;

    border-bottom: none;
  }

  .socials__item {
    margin-right: 40px;
  }
}

@media (min-width: $desktop-screen) {
  .socials {
    width: 350px;
  }
}
