.table {
  width: 100%;

  border-collapse: collapse;
}

.table__cell {
  padding: 9px 0 10px 0;
  font-size: 15px;
  line-height: 20px;
  color: #444444;

  border-bottom: 1px solid #ececec;

  &:first-child {
    width: 97px;
  }
}
